<?xml version="1.0" ?>
<model>
  <name>roadway_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nathalie Thornhill</name>
    <email>nztnat123@gmail.com</email>
  </author>

  <description>
    A simple model representing a roadway for use in Gazebo simulations.
  </description>
</model>